@import '../../../shared/sass/partials/_variables.scss';
@import '../../../shared/sass/partials/mixins';

.Home {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;

    @include responsive($tablet) {
            padding: 0 30px; 
            padding: 0;
        }
    @include flex(column, space-between, center);
}


