@import '../../../shared/sass/partials/_variables.scss';
@import '../../../shared/sass/partials/mixins';

.Skills {
    width: 100%;
    height: 100%;

    @include flex(column, center, center);
    
    @include responsive($desktop) {
        @include flex(row, center, center);
    }

    .active {
        color: $secondary-color;
    }

    nav {
        margin-bottom: 20px;

        a:first-child {
            margin-right: 10px;
        }

        a {

            &:hover {
                color: $secondary-color;
            }
        }
        @include responsive($desktop) {
            transform: rotate(-90deg);
            margin: 0;
        }
    }

}





