// Body

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Font-Weight
$fw-light: 200;
$fw-regular: 400;
$fw-bold: 700;

// App Colors
$body-bg: #282C34;
$primary-color: #3969F6;
$secondary-color: #B740F0;
$light: #CCCCCC;
$dark: #141414;
$main-gradient: linear-gradient(180deg, #3969F6 0%, #B740F0 100%);

// Media Queries Breakpoints
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;