// Commons
@import 'partials/variables';
@import 'partials/mixins';

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #4565f600, #4565f6);
  border-radius: 10px;
}

.App {
  position: relative;;
  width: 100%;
  background-image: url(https://i.ibb.co/c1fbDrY/bg-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include responsive($desktop) {
    padding: 0;
    height: 100vh;
  }

  a {
   @include reset-a; 
   
  }
}

